<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <title>List Data</title>
</head>


<body>
    <div class="containerx">
        <h1>BREAD (Browse, Read, Edit, Add, Delete)</h1>
        <h2>Filters</h2>
        <div class="container">
            <form action="" method="get">
                <div class="row">
                    <div class="col-15">
                        <input type="checkbox" name="idCheck" class="checkmark">
                        <label for="idCheck">ID</label>
                    </div>
                    <div class="col-85">
                        <input type="text" name="id" placeholder="Masukkan id data">
                    </div>
                </div>

                <div class="row">
                    <div class="col-15">
                        <input type="checkbox" name="stringCheck" class="checkmark">
                        <label for="stringCheck">String</label>
                    </div>
                    <div class="col-85">
                        <input type="text" name="string" placeholder="Masukkan data string">
                    </div>
                </div>

                <div class="row">
                    <div class="col-15">
                        <input type="checkbox" name="integerCheck" class="checkmark">
                        <label for="integerCheck">Integer</label>
                    </div>
                    <div class="col-85">
                        <input type="text" name="integer" placeholder="Masukkan data integer">
                    </div>
                </div>

                <div class="row">
                    <div class="col-15">
                        <input type="checkbox" name="floatCheck" class="checkmark">
                        <label for="floatCheck">Float</label>
                    </div>
                    <div class="col-85">
                        <input type="text" name="float" placeholder="Masukkan data float">
                    </div>
                </div>

                <div class="row">
                    <div class="col-15">
                        <input type="checkbox" name="dateCheck" class="checkmark">
                        <label for="dateCheck">Date</label>
                    </div>
                    <div class="col-85">
                        <input type="date" name="startDate">
                    </div>
                    <div class="col-15"></div>
                    <div class="col-85">
                        <h4> to </h4>
                    </div>
                    <div class="col-15"></div>
                    <div class="col-85">
                        <input type="date" name="endDate">
                    </div>
                </div>

                <div class="row">
                    <div class="col-15">
                        <input type="checkbox" name="booleanCheck" class="checkmark">
                        <label for="booleanCheck">Boolean</label>
                    </div>
                    <div class="col-85">
                        <select id="boolean" , name="boolean">
                            <option value="">--Pilih boolean--</option>
                            <option value=1>True</option>
                            <option value=0>False</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <input type="submit" value="Search"></input>
                </div>
            </form>
        </div>
        <h2>Result</h2>
        <table style="width: 100%" border="1" id="daftar">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>String</th>
                    <th>Integer</th>
                    <th>Float</th>
                    <th>Date</th>
                    <th>Boolean</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% rows.forEach((item, index)=> { %>
                    <tr>
                        <td>
                            <%= item.id %>
                        </td>
                        <td>
                            <%= item.string %>
                        </td>
                        <td>
                            <%= item.integer %>
                        </td>
                        <td>
                            <%= item.float %>
                        </td>
                        <td>
                            <%= item.date %>
                        </td>
                        <td>
                            <%= item.boolean==1 ? 'True' : 'False' %>
                        </td>
                        <td>
                            <a href="/edit/<%= item.id %>" class="buttonedit">🖊 Edit</a>

                            <a href="/delete/<%= item.id %>" class="buttondel">⨉ Delete</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <a href="/add" class="button">+ Add</a>
        <nav aria-label="Page navigation">
            <div class="pagination">
                <% for(let i=1; i <=pages; i++) { %>
                    <a <%=page==i ? `class=active` : `` %> href="/?page=<%= i %><%=filter%>">
                            <%= i %>
                    </a>
                    <% } %>
            </div>
        </nav>
    </div>

</body>

</html>